<footer class="site-footer">	

	  <div class="wrapper">

	    <h2 class="footer-heading">Contact Information</h2>

	    <div class="footer-col-wrapper">
	      <div class="footer-col footer-col-1">
	        <ul class="contact-list">
	          <li>
	            College of Technology Management <br>
	            TSMC Building R614 <br>
              101, Sec. 2, Kuang-Fu Road  <br>
              Hsinchu 30013, Taiwan
	          </li>
	          <li>
	            Email: jaewon.yoo [at] iss.nthu.edu.tw
	          </li>
	        </ul>
	      </div>
	

	      <div class="footer-col footer-col-2">
	      </div>
	

	      <div class="footer-col footer-col-3">
	        <ul class="social-media-list">
	          <li>Linkedin: <a href="https://www.linkedin.com/in/jaewon-yoo/" target="_blank">jaewon-yoo</a></li>
	          <li>Twitter: <a href="https://twitter.com/j1yoo4" target="_blank">j1yoo4</a></li>
	          <li>Github: <a href="https://github.com/j1yoo4" target="_blank">j1yoo4</a></li>
	        </ul>
	      </div>
	    </div>
	

	  </div>
	

	</footer>
