<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact met at</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            NTHU College of Technology Management <br>
            TSMC Building (台積館) R614 <br>
            101, Sec. 2, Kuang-Fu Road, Hsinchu 30013 <br>
          </li>
          <li>
            Email: jaewon.yoo [at] iss [dot] nthu [dot] edu [dot] tw
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>Twitter: <a href="https://scholar.google.com/citations?user=GBchV38AAAAJ&hl=en" target="_blank">j1yoo4</a></li>
          <li>Github: <a href="https://github.com/j1yoo4" target="_blank">j1yoo4</a></li>
          <li>Profile: <a href="https://www.iss.nthu.edu.tw/faculty/%E5%85%AA%E5%9C%A8%E5%85%83-jaewon-yoo" target="_blank">ISS Faculty Profile</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
