<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    
    {% if page.use_math %}
      {% include mathjax_support.html %}
    {% endif %}

  <link rel="icon"  type="image/png"    href="https://cdn2.iconfinder.com/data/icons/social-aquiocons/512/Aquicon-Github.png">
  
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?
  config=TeX-AMS-MML_HTMLorMML"></script>
  
  </head>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>

<script src=”https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id=”MathJax-script” async src=”https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
